@import 'additional/variables.scss';

body {
    overscroll-behavior: none;
}
.wrapper {
    max-width: $globalwidth;
    margin: 0 auto;
    background: $color-background-desktop;
    padding: 10px 15px;
	box-sizing: border-box;
}
